stages:
  - build
  - test
  - docker_build
  - docker_test

variables:
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 day
  only:
    - main

test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn test
  only:
    - main

docker_build:
  stage: docker_build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    # Build & push the image
    - docker build -t $IMAGE_TAG .
    - docker push $IMAGE_TAG
  only:
    - main
  needs:
    - build

docker_test:
  stage: docker_test
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - docker pull $IMAGE_TAG
    - docker run -d --name test_container -p 8001:8001 $IMAGE_TAG
    - sleep 60
    - docker logs test_container
    - docker exec test_container curl -f http://localhost:8001/user/details || echo "Health check failed"
    - docker stop test_container
    - docker rm test_container
  only:
    - main
  needs:
    - docker_build