stages:
  - build
  - test
  - deploy

build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/*.jar
    expire_in: 1 day
  only:
    - main

test:
  stage: test
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn test
  only:
    - main

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  script:
    - docker build -t userdetails:latest .
    - docker rm -f userdetails || true
    - docker run -d --name userdetails -p 8001:8001 userdetails:latest
  only:
    - main